/* ***************************************************************************
 *                      静态网页动态分页 链接样式                                          *
 * ***************************************************************************/

#bar_splitPageByTable{
	font-family: "隶书", "华文行楷", serif, Verdana, Tahoma;
	font-size: 11pt;
	position: absolute;
	top: 600px;;
}
form#getPageNum{
	display: inline;
}
form#getPageNum > input#inputPageNum{
	background: #DDDCFF;
	border: medium double #F0DCFF;
}
form#getPageNum > input#submitPageNum{
	background: #EDDCFF;
	border: medium double #FADCFF;
	font-family: "隶书", "华文行楷", serif, Verdana, Tahoma;
	font-size: 11pt;
}
