// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  list-style-type: none;

  .subcomment {
    border-left: solid 7px #ddd;
    padding-left: 10px;
  }

  .comment-created {
    color: #666;
    font-size: 0.8em;
  }
}
