// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border-top: solid 1px #aaa;
  padding: 30px 20px;

  .post-title {
    font-weight: bold;
    padding: 5px;
  }

  .post-updated {
    text-align: right;
    color: #666;
  }

  .post-content {
    padding: 5px;
  }

  .post-category {
    font-style: italic;
  }

  .post-tags {
    font-style: italic;
  }

}
