// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$title-font-size: 18pt

.task
  padding: 30px 20px
  background-color: #eee
  margin: 10px
  border: dashed 1px #bbb

  a
    color: #666
    &:hover
      color: black

  .task-title 
    h2 
      font-size: $title-font-size
      color: #333
      display: inline
      a
        color: #333
        font:
          weight: bold
          size: $title-font-size
          family: sans-serif
        padding: 5px 
        margin: 0
        &:hover
          color: black

    .deadline
      color: #900
      font:
        weight: bold
        size: 1.1em

    .task-operations
      float: right
      margin: 0
      padding: 5px 10px
      background-color: #ddd
      border-radius: 30px
      box-shadow: 0 0 3px #bbb inset

      .task-operation
        a
          color: #666
          &:hover
            color: black
        img
          width: 16px
          vertical-align: bottom

  .task-updated
    padding-right: 10px
    text-align: right 
    color: #999

  .task-requirement
    padding: 20px 

  .comments-control
    &:hover
      cursor: pointer
      color: black

  .tasks-comments
    text-align: right

  .tasks-comments-list
    display: none

  .tasks-comments-list-in-show
    display: block

