<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="admin-functions">
  <ul>
    <li><%= link_to 'Add a post', new_post_path %></li>
    <li><%= link_to 'Add a group', new_group_path %></li>
    <li><%= link_to 'View groups', groups_path %></li>
  </ul>
</div>
