<li class="comment">
  <div class="subcomment">
    <div class="comment-created">
      <%= comment.created_at %>
    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
    <% if session[:user_id] %>
      <p><%= link_to 'Add a Reply', new_comment_comment_path(comment) %></p>
    <% end %>
  </div>

  <% unless comment.comments.empty? %>
    <ul class="comment-list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
