<p>Welcome to Taskium</p>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title">
        <%= post.title %>
      </div>
      <div class="post-updated">
        <%= post.updated_at %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
    </div>
  <% end %>
</div>
